<!DOCTYPE html>
<html ng-app="maps">
<head lang="en">
  <meta charset="UTF-8">
  <title>My Maps</title>

  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">

  <style>
    #map-canvas { height: 600px; }
  </style>
</head>
<body>

  <div class="container" ng-controller="MapsCtrl">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h1>{{misc.title}}</h1>
        <p>Lat: {{misc.latlng.lat | number:4}}</p>
        <p>Long: {{misc.latlng.lng | number:4}}</p>
        <button type="button" class="btn btn-success" ng-click="startRouting()">Start</button>
        <button type="button" class="btn btn-danger" ng-click="finishRouting()">Finish</button>
      </div>
      <div class="col-md-8">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/angular/angular.min.js"></script>

  <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>

  <script src='app.js'></script>

</body>
</html>
